<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='todos.css') }}">

</head>
<body>
    <h1 >Categories</h1>


    <ol>
        {%for i in range(0, categoriesLen)%}
        <li><a href="/categories/{{categories[i].id }}">{{categories[i].name }}</a></li>

        {%endfor%}
    </ol>
    <h1 >Products</h1>
    <ol>
        {%for i in range(0, productsLen)%}
        <li>{{products[i].id }} - {{products[i].product_name }} - {{products[i].price }}
            <p><img src="/static/images/{{products[i].image_id }}.jpg" width="200" height="200"></p>
        {%endfor%}
        <li>{{productsLen}}</li>
    </ol>


</body>
</html>
